html {
    background-color: #212121;
    scroll-behavior: smooth;
}

#home {
    min-height: 100vh;
    background-image: url("/bg_gdg_home.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
